/**
 * Homepage Overrides
 */
.page-home {

  // Hero
  .hero {
    display: block;
    margin: 0 0 (-$grid) 0;
    padding: 0 0 25%;
    // background: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/12935124_455457971316195_757506177_n.jpg') center center no-repeat;
    background: url('https://scontent-sea1-1.cdninstagram.com/t51.2885-15/e35/12965276_1727988290778891_847345324_n.jpg') center center no-repeat;
    background-size: cover;
  }

  // Site Content
  .site-content {
    padding-top: 0;
  }

  // Stats
  .strava-stats {
    ul, h3 { position: relative; z-index: 1;}
  }

  @media screen and (max-width: 768px) {
    .bio {
      margin: 0 0 $grid;
      width: auto;
    }
  }
}
