footer.site-footer
  p.memo Crafted in 2016

  ol.socials
    li.social.twitter
      a(href='#'): include ../icons/twitter
    li.social.dribbble
      a(href='#'): include ../icons/dribbble
    li.social.linkedin
      a(href='#'): include ../icons/linkedin
    li.social.instagram
      a(href='#'): include ../icons/instagram
