header.site-header
  .container
    .details.pull-left
      h1.logo: a(href="/") Matt Goucher
      h3.description Seattle based software engineer, aspiring cyclist
    nav.nav.pull-right
      a.nav-item.active(href="https://linkedin.com/in/mattgoucher") My Story
      a.nav-item(href="https://linkedin.com/in/mattgoucher") Contact
