.site-header {
  width: 100%;
  padding: ($grid / 2) 0;
  text-align: left;
  background: $white;
  border-top: 2px solid $blue;
  border-bottom: 1px solid $gray;
  @include clearfix;

  // Logo
  .logo {
    display: block;
    margin: 0 0 ($grid / 4) 0;
    font-size: 20px;
    line-height: 1;
    font-weight: $bold;
    // text-transform: uppercase;

    a {
      color: $black;
      outline: none;
      text-decoration: none;

      &:hover { color: $blue; }
    }
  }

  // Description
  .description {
    display: block;
    color: $dgray;
    font-size: 14px;
    line-height: 1;
    font-weight: $light;
  }

  // Navigation
  .nav {
    padding: 5px 0;
    float: right;

    .nav-item {
      display: block;
      float: left;
      padding: 0 ($grid / 4);
      color: $dgray;
      font-size: 14px;
      font-weight: $light;
      line-height: $grid;
      text-decoration: none;

      // Active State
      &.active { color: $black; font-weight: $semibold; }

      // Hover State
      &:hover { color: $blue; }
    }
  }

  @media screen and (max-width: 769px) {
    text-align: center;
    .nav { display: none; }
    .details { float: none; }
  }
}
