.site-header {
  margin: 0 0 40px 0;
  padding: 25px;
  color: $black;
  text-align: center;
  background: $white;
  box-shadow: 0 1px 0 0 $silver;

  // Logo
  .logo {
    display: block;
    margin: 0 0 10px 0;
    font-size: 22px;
    line-height: 1;
    font-weight: $semibold;
    text-align: center;
    text-transform: uppercase;

    a {
      margin: 0 0 0 0.25em;
      outline: none;
      letter-spacing: 0.25em;
      text-decoration: none;
    }
  }

  // Description
  .description {
    display: block;
    line-height: 1;
    font-size: 14px;
    font-weight: $light;
  }

  // About
  .about {

    // Lifestyle Branding
    .graphic {
      display: block;
      padding: 0 0 35% 0;
      background: url('/assets/lakewashington.jpg') center 30% no-repeat;
      background-size: cover;
    }
  }
}
