// Fuckbeards Variables

    // Brand Colors
    $white:  #ffffff;
    $orange: #d36a0e;

    // Grays
    $base: #f7f7f7;
    $basedark: darken($base, 82%);

    // Typography
    $normal:   300;
    $regular:  300;
    $semibold: 500;
    $bold:     700;
