pre.stack {
    position: relative;
    margin: 0 auto $grid;
    clear: both;
    padding: 15px;
    color: $white;
    word-break: break-word;
    white-space:pre-line;
    border-radius: 2px;
    background: $blue;
    box-shadow: 0 0 0 1px rgba($white, 0.5);

    // Last Stack Margins
    &:last-of-type { margin-bottom: 0; }

    // Append "Stack Trace" to header
    &:before {
        position: relative;
        top: -15px; left: -15px;
        display: block;
        padding: 10px 15px;
        width: 100%;
        color: $white;
        content: 'Stack Trace:';
        text-transform: uppercase;
        background: darken($blue, 5%);
        border-radius: 2px 2px 0 0;
    }
}
