/**
 * Strava Stats
 */
.strava-stats {
  position: relative;

  // Single State
  .stat {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 0 ($grid / 2) 0;

    strong {
      display: block;
      margin: 0 0 2px 0;
    }
    small {
      display: block;
      font-size: 12px;
      line-height: 1;
      color: $dgray;
    }
  }

  // Map BG
  .map {
    opacity: 0.15;
    pointer-events: none;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: url('https://api.mapbox.com/styles/v1/mattgoucher/cin76hfpt0035bckvfmzolaki/static/-122.246995,47.589348,10.14,0.00,0.00/600x400@2x?access_token=pk.eyJ1IjoibWF0dGdvdWNoZXIiLCJhIjoiY2luNzZnbno2MGFuNXV1bHp5aXVqeXFibyJ9.haF1KHni3wwg_y97JJMv6w') center center no-repeat;
    background-size: cover;
  }
}
