//- Mountain by Ilsur Aptukov from the Noun Project
svg(width='32px', height='32px', viewbox='0 0 36 36', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g(fill='#000000')
      g(transform='translate(2.000000, 8.000000)')
        path(d='M31.6914023,18.79575 L0.298298851,18.79575 L10.1796782,5.29880769 L12.9188046,8.56388462 L18.4709885,0.290846154 L31.6914023,18.79575 L31.6914023,18.79575 Z M2.46547126,17.6995962 L29.5551264,17.6995962 L18.4996782,2.22373077 L13.0173793,10.393 L10.2392644,7.08115385 L2.46547126,17.6995962 L2.46547126,17.6995962 Z')
        polygon(points='6.24183908 16.3776346 5.34951724 15.7330962 10.176 9.14009615 13.2049655 12.6865192 12.3634023 13.3953654 10.2429425 10.9129423')
        polygon(points='21.3366437 10.3305192 18.5004138 6.10448077 16.1945747 9.76892308 15.2588506 9.18796154 18.4702529 4.08317308 22.2547126 9.72251923')
