doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title=(`Matt Goucher${title ? (' - ' + title) : ' - Software Engineer in Seattle, Washington'}`)
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css")
        link(rel="stylesheet" type="text/css" href="/stylesheets/app.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no")
    body(class=(bodyclass))

        //- Header
        include layout/header

        //- Contnet
        block content

        //- Footer
        include layout/footer
